/* Estilo base */
body {
    background-color: #1e1e1e;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  /* Menu lateral */
  .sidebar {
    width: 250px;
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .sidebar h2 {
    color: #00ff00;
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: block;
    background-color: #292929;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #00ff00;
    color: #000;
  }
  
  .sidebar a.active {
    background-color: #00ff00;
    color: #000;
  }
  
  /* Conteúdo principal */
  .content {
    flex-grow: 1;
    padding: 40px;
  }
  
  .content h3 {
    color: #00ff00;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .content p {
    color: #b0b0b0;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  /* Header com a logo */
header {
  background-color: #000;
  padding: 10px 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo-link {
  text-decoration: none;
}

.logo {
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

/* Ajuste para o menu lateral e o conteúdo principal */
.sidebar {
  margin-top: 70px; /* Espaço para o header */
}

.content {
  margin-top: 70px; /* Espaço para o header */
}

  