body {
    background-color: #545454;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    padding: 50;
    margin: 50;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0px 55px 0px 35px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

nav ul li a:hover {
    color: blanchedalmond;
}

/* Responsividade */
@media only screen and (max-width: 930px) {
    nav ul, #login, #bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    nav ul, #login, #bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-top: 60px;
    align-items: center;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
}

h3 {
    position: fixed;
    font-family: 'Andale Mono', cursive;
    top: 58vh; /* Ajuste conforme necessário para a posição vertical */
    left: 8vw; /* Ajuste conforme necessário para a posição horizontal */
    width: 14vw; 
    transform: rotate(20deg);
    z-index: 9999; /* Certifique-se de que ele está no topo */
}

header {
    display: flex;
    align-items: center;
}

.logo {
    position: fixed;
    top: 50px;
    left: 650px;
}

#eyes {
    position: fixed;
    right: 0;
    top: 180px;
}

#bottom {
    position: fixed;
    bottom: -50px;
    width: 680px;
}

#placa {
    position: absolute;
    bottom: -55px;
    right: 1450px;
    width: 25vw;
}

#instagram {
    position: absolute;
    bottom: 344px;
    right: 1730px;
    width: 2.8vw;
    transform: rotate(20deg);
}


#login {
    position: fixed;
    color: black;
    top: 10px;
    right: 1800px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 40px;
}

#login a {
    text-decoration: none; /* Remove sublinhado do link */
    color: inherit; /* Herda a cor do elemento pai (preto) */
}

#login:hover a {
    color: white; /* Altera a cor do texto para branco quando passa o mouse por cima */
}

#Desafios {
    position: fixed; /* Alterado de absolute para fixed */
    color: black;
    bottom: 50px; /* Alterado de top para bottom para ficar a uma distância fixa do fundo da janela */
    right: 50px; /* Mantido */
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 40px;
}   

#Desafios a {
    text-decoration: none; /* Remove sublinhado do link */
    color: inherit; /* Herda a cor do elemento pai (preto) */
}

#Desafios:hover a {
    color: white; /* Altera a cor do texto para branco quando passa o mouse por cima */
}