body {
    background-color: #343239;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 200px; /* Adiciona margem zero para alinhar corretamente */
    margin-left: 250px;
    margin-top: 0px;
}